body{
    background-color: rgb(152, 73, 73);
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
}

.form-control:focus{
    box-shadow: none;
    border-color: #BA68C8}

.profile-button{
    background: rgb(99, 39, 120);
    box-shadow: none;border: none;
}
    
.profile-button:hover{
    background: #682773;
}

.profile-button:focus{
    background: #682773;
    box-shadow: none;
}

.profile-button:active{
    background: #682773;
    box-shadow: none;
}
    
.back:hover{
    color: #682773;
    cursor: pointer;
}

.labels{
    font-size: 18px}

.add-experience:hover{
    background: #df5034;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
}