@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
   background-color: #d5e3f5;
  }

  a{
      text-decoration: none;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items:center;
  }
  
  .wrap h1 a {
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
  }
  
  .wrap .blue {
    color: #3164af;
    font-family: "poppins", sans-serif;
    font-weight: bold;
  }
  
  header {
    width: 100%;
    background-color: #23164b;
  }
  
  .account {
    display: flex;
    gap: 20px;

  }
  
  .account img {
      margin-top: 5px;
    width: 40px;
    height: 40px;
   
  }
  
  .account h5 {
    font-family: "poppins", sans-serif;
    color: black;
    font-size: 20px;
    padding-top: 10px;
  }
  
  .account h5:hover {
    color: #ff7446;
  }
  
  .account a:hover {
    text-decoration: none;
    color: #ff7446;
  }
  
  header .droplist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d59ad;
    border: 2px solid #0fa0d5;
  }
  
  .wrp-droplist {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1.8rem;
    position: absolute;
    right: 0;
  }
  
  ._border {
    border-bottom: 2px solid #0fa0d5;
  }
  
  .drplst-square {
    width: 9rem;
    height: 4rem;
  }
  
  .drplst-square .border {
    border-color: #0fa0d5;
    border-style: solid;
  }
  
  .drplst-square h4 {
    text-align: center;
    font-family: "poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
  }
  
  .drplst-square a:hover {
    text-decoration: none;
  }
  
  .drplst-square h4:hover {
    color: #ff7446;
  }

/* main */

/* card1 */
.title img {
  width: 113px;
  
}

.card1-wrp {
  display: flex;
  padding: 10%;
}

.card1-wrp .box_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card1-wrp .box1 {
  border-radius: 4px;
  background-color: white;
  width: 303px;
  height: 535px;
  display: flex;
  justify-content: center;
  border: gray;
  box-shadow: 0px 0px 12px 0px #c8c9cc;
}

.box1 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h3 {
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  padding-top: 10px;
}

.box1 .title h4 {
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb;
  font-size: 10px;
  color: black;
}

.email {
  position: relative;
}
.email img {
  width: 18px;
  position: absolute;
  left: -30px;
  top: -3px;
}

.wrp-location {
  padding-top: 20px;
}
.title .location h4 {
  color: black;
}
.location {
  position: relative;
}
.location img {
  width: 18px;
  position: absolute;
  left: -48px;
  top: -3px;
}

/* card 2 */

.box2 {
  display: flex;
  flex-direction: column;
}
.card1-wrp .box2 {
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
  border: gray;
  box-shadow: 0px 0px 12px 0px #c8c9cc;
  width: 679px;
  height: 874px;
  padding-left: 20px;
}

.box1 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title2 h3 {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 32px;
  text-align: center;
  margin: auto;
  padding-top: 5rem;
}

.main {
  padding-top: 6rem;
  padding-left: 3rem;
}

.box2 .main2 input.inputfname {
  position: absolute;
  border-radius: 4px;
  width: 200px;
  height: 37px;
  display: none;
}

.box2 .main2 input.inputlname {
  position: absolute;
  border-radius: 4px;
  width: 200px;
  height: 37px;
  margin-left: 5.5rem;
  margin-top: 10px;
  display: none;
}

.box2 .main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.fname {
  display: flex;
  flex: -1;
  align-items: center;
  justify-content: center;
}

.lname {
  display: flex;
  flex: 10;
  align-items: center;
  justify-content: center;
}

.box2 .main h4 {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}

.box2 .main2 {
  display: flex;
  padding-top: 1rem;
  padding-left: 3rem;
}

.main2 .fnamedata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main2 .lnamedata {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.box2 .main2 h4 {
  font-family: "poppins", sans-serif;
  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}

.box2 .main2 .fname h4 {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}

/* main3 */

.box2 .main3 .dataemail h4 {
  font-family: "poppins", sans-serif;

  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}
.main3 {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 2rem;
}

.main3 h4 {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}

.main3 h5 {
  font-family: "poppins", sans-serif;
  padding-top: 1rem;
  color: black;
  font-size: 20px;
  text-align: start;
  margin: auto;
}

.main3 .username {
  padding-top: 1rem;
}

.main3 .username input {
  width: 2rem;
  border-radius: 4px;
  width: 570px;
  height: 37px;
  border: 2px solid black;
  display: none;
}

.main4 {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 4rem;
  gap: 1rem;
}

.main4 h4 {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  text-align: start;
}

.main4 h5 {
  font-family: "poppins", sans-serif;
  color: black;
  font-size: 20px;
}

.main4 input {
  width: 2rem;
  border-radius: 4px;
  width: 570px;
  height: 37px;
  border: 2px solid black;
  display: none;
}
.main4 .bio input.input-bio {
  width: 2rem;
  border-radius: 4px;
  width: 570px;
  height: 10rem;
}

.wrp-btn {
  display: flex;
  justify-content: center;
  margin-right: 4rem;
}

.wrp-btn2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  gap: 20px;
  display: none;
}

.main4 button {
  width: 269px;
  height: 61px;
  border-radius: 8px;
  background-color: rgba(45, 30, 215, 1);
  border: none;
}

.main4 button:hover {
  background-color: rgba(234, 81, 33, 1);
}

.main4 p {
  font-family: "poppins", sans-serif;
  color: #fff;
  font-size: 20px;
}

/* .wrp-btn button.edit{
  display: none;
} */


  /* Footer */
  .footer {
    width: 100%;
    height: 381px;
    background: rgb(39, 72, 132);
    background: radial-gradient(
      circle,
      rgba(39, 72, 132, 1) 0%,
      rgba(19, 21, 56, 1) 100%
    );
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer {
    padding-left: 40px;
    position: relative;
  }
  
  footer .footer a:hover {
    text-decoration: none;
  }
  
  .explorer {
    flex: 1;
  }
  
  .explorer h2 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #ff7446;
    font-size: 2.5rem;
  }
  
  .explorer h3 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .explorer h4 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #1e98d7;
    font-size: 1rem;
  }
  
  .explorer h4:hover {
    color: #1c87bd;
  }
  
  .learn-footer {
    flex: 1;
    padding-top: 50px;
  }
  
  .learn-footer h3 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .learn-footer h4 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #1e98d7;
    font-size: 1rem;
  }
  
  .learn-footer h4:hover {
    color: #1c87bd;
  }
  
  .job-footer {
    flex: 1;
    padding-top: 50px;
  }
  
  .job-footer h3 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .job-footer h4 {
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    color: #1e98d7;
    font-size: 1rem;
  }
  
  .job-footer h4:hover {
    color: #1c87bd;
  }
  
  .wrap1 {
    justify-content: space-between;
    padding: 20px;
  }
  
  .wrap1 h1 a {
    color: #ff7446;
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
  }
  
  .wrap1 h1 {
    padding-left: 20px;
  }
  
  .logo-playstore {
    justify-self: end;
    flex: 1;
  }
  .logo-playstore img {
    width: 10rem;
    position: absolute;
    top: 10rem;
  }
  
  .wrap1 .blue {
    color: #3164af;
    font-family: "poppins", sans-serif;
    font-weight: bold;
  }
  
  
  .main .btn button {
    background-color: rgba(45, 30, 215, 1);
    border-color: rgba(45, 30, 215, 1);
    border-radius: 10px;
    margin-top: 1rem;
    
  }
  
  .main .btn button:hover {
    background-color: rgba(234, 81, 33, 1);
  }